<a href="https://colab.research.google.com/github/SlavaAndrei/DataScience/blob/main/Homework6%5CHomework6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sys
!{sys.executable} -m pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /usr/local/Cellar/jupyterlab/4.0.9_2/libexec/lib/python3.12/site-packages (2.9.9)

In [ ]:
from psycopg2 import connect as connect


# функция проверки подключения к БД
def _get_db_session():
    try:
        conn = connect(
            dbname='admin',
            user='admin',
            password='admin',
            host='0.0.0.0',
            port=5432)
        print("\nСоединение с БД установлено", conn, "\n")
        return conn
    except Exception as e:
        print('БД не доступна. Проверьте Docker', e)
        return False


# функция выполнения запроса к БД c получением ответа
def query_get(conn, query: str) -> dict:
    with conn.cursor() as curs:
        curs.execute(query)
        result = curs.fetchall()
        return result


# функция выполнения запроса к БД не предполагающая получения ответа
def query_set(conn, query: str):
    with conn.cursor() as curs:
        curs.execute(query)
        conn.commit()
        print(f"выполнен запрос к БД: '{query}' \n")


# функция построчного вывода на экран результатов запроса
def query_n_print(conn, query_read: str):
    print(f"Выполнен следующий запрос к БД: '{query_read}'")
    print("Результат запроса: ")
    result = query_get(conn, query_read)
    for row in result:
        print(row)


# проверкв подключения к БД
dbconnect = _get_db_session()
if dbconnect is False:
    print("БД не подключена. \nПрограмма завершена")
else:
    conn = dbconnect

    # создание таблицы users в БД (если не существует)
    query_create_table = """create table if not exists users(
            id serial primary key,
            name varchar not null,
            age int,
            gender varchar,
            nationality varchar);"""
    query_set(conn, query_create_table)

    # получение первых 10 записей из таблицы users
    query_read = """SELECT * FROM users LIMIT 10"""
    query_n_print(conn, query_read)

    # добавление записей в таблицу users. Вариант №1
    query_add_table = """INSERT INTO users
    (name, age, gender, nationality)
    VALUES
      ('James', 25, 'male', 'USA'),
      ('Leila', 32, 'female', 'France'),
      ('Brigitte', 35, 'female', 'England'),
      ('Mike', 40, 'male', 'Denmark'),
      ('Elizabeth', 21, 'female', 'Canada');"""
    query_set(conn, query_add_table)

Соединение с БД установлено <connection object at 0x109f36e30; dsn: 'user=admin password=xxx dbname=admin host=0.0.0.0 port=5432', closed: 0>

выполнен запрос к БД: 'create table if not exists users(
            id serial primary key,
            name varchar not null,
            age int,
            gender varchar,
            nationality varchar);'

Выполнен следующий запрос к БД: 'SELECT * FROM users LIMIT 10'
Результат запроса:
(1, 'James', 25, 'male', 'USA')
(2, 'Leila', 32, 'female', 'France')
(3, 'Brigitte', 35, 'female', 'England')
(4, 'Mike', 40, 'male', 'Denmark')
(5, 'Elizabeth', 21, 'female', 'Canada')
(6, 'James', 25, 'male', 'USA')
(7, 'Leila', 32, 'female', 'France')
(8, 'Brigitte', 35, 'female', 'England')
(9, 'Mike', 40, 'male', 'Denmark')
(10, 'Elizabeth', 21, 'female', 'Canada')
выполнен запрос к БД: 'INSERT INTO users
    (name, age, gender, nationality)
    VALUES
      ('James', 25, 'male', 'USA'),
      ('Leila', 32, 'female', 'France'),
      ('Brigitte', 35, 'female', 'England'),
      ('Mike', 40, 'male', 'Denmark'),
      ('Elizabeth', 21, 'female', 'Canada');'

In [ ]:
# выполнение произвольного запроса к БД на запись/изменение БД
query_save = input("Введите запрос SQL на создание/изменение БД: ")
try:
    query_set(conn, query_save)
except Exception as e:
    print("запрос в БД не выполнен:", e)

Введите запрос SQL на создание/изменение БД:  \d

запрос в БД не выполнен: syntax error at or near "\"
LINE 1: \d
        ^

In [ ]:
# выполнение произвольного запроса на получение данных из БД
query_read = input("Введите запрос SQL на получение данных из БД: ")
try:
    query_n_print(conn, query_read)
except Exception as e:
    print("запрос в БД не выполнен:", e)

Введите запрос SQL на получение данных из БД:  select age from users

Выполнен следующий запрос к БД: 'select age from users'
Результат запроса:
(25,)
(32,)
(35,)
(40,)
(21,)
(25,)
(32,)
(35,)
(40,)
(21,)
(25,)
(32,)
(35,)
(40,)
(21,)
(25,)
(32,)
(35,)
(40,)
(21,)
(25,)
(32,)
(35,)
(40,)
(21,)
(25,)
(32,)
(35,)
(40,)
(21,)
(25,)
(32,)
(35,)
(40,)
(21,)
(25,)
(32,)
(35,)
(40,)
(21,)
(25,)
(32,)
(35,)
(40,)
(21,)
(25,)
(32,)
(35,)
(40,)
(21,)
(25,)
(32,)
(35,)
(40,)
(21,)
(25,)
(32,)
(35,)
(40,)
(21,)
(25,)
(32,)
(35,)
(40,)
(21,)

In [ ]:
query_list = [
    """SELECT name from users WHERE age > 30""",
    """SELECT name from users WHERE age > 30 and gender = 'male'""",
]
try:
    for query in query_list:
        query_n_print(conn, query)
except Exception as e:
    print("запрос в БД не выполнен:", e)

Выполнен следующий запрос к БД: 'SELECT name from users WHERE age > 30'
Результат запроса:
('Leila',)
('Brigitte',)
('Mike',)
('Leila',)
('Brigitte',)
('Mike',)
('Leila',)
('Brigitte',)
('Mike',)
('Leila',)
('Brigitte',)
('Mike',)
('Leila',)
('Brigitte',)
('Mike',)
('Leila',)
('Brigitte',)
('Mike',)
('Leila',)
('Brigitte',)
('Mike',)
('Leila',)
('Brigitte',)
('Mike',)
('Leila',)
('Brigitte',)
('Mike',)
('Leila',)
('Brigitte',)
('Mike',)
('Leila',)
('Brigitte',)
('Mike',)
('Leila',)
('Brigitte',)
('Mike',)
('Leila',)
('Brigitte',)
('Mike',)
Выполнен следующий запрос к БД: 'SELECT name from users WHERE age > 30 and gender = 'male''
Результат запроса:
('Mike',)
('Mike',)
('Mike',)
('Mike',)
('Mike',)
('Mike',)
('Mike',)
('Mike',)
('Mike',)
('Mike',)
('Mike',)
('Mike',)
('Mike',)

In [ ]:
# SQL-запросы для выполнения агрегации данных = средний возраст по половому признаку
query_read = """SELECT gender, AVG(age) as avg_age FROM users GROUP BY gender"""
try:
    query_n_print(conn, query_read)
except Exception as e:
    print("запрос в БД не выполнен:", e)

Выполнен следующий запрос к БД: 'SELECT gender, AVG(age) as avg_age FROM users GROUP BY gender'
Результат запроса:
('female', Decimal('29.3333333333333333'))
('male', Decimal('32.5000000000000000'))

In [ ]:
# SQL-запросы для выполнения агрегации данных = вывод пользователей с одинаковыми именами
query_read = """SELECT name count FROM users GROUP BY name"""
try:
    query_n_print(conn, query_read)
except Exception as e:
    print("запрос в БД не выполнен:", e)

Выполнен следующий запрос к БД: 'SELECT name count FROM users GROUP BY name'
Результат запроса:
запрос в БД не выполнен: current transaction is aborted, commands ignored until end of transaction block

In [ ]:
# SQL-запросы для выполнения агрегации данных = минимальный возраст пользователей женского пола
query_read = """SELECT MIN(age) AS min_age FROM users"""
try:
    query_n_print(conn, query_read)
except Exception as e:
    print("запрос в БД не выполнен:", e)

Выполнен следующий запрос к БД: 'SELECT MIN(age) AS min_age FROM users'
Результат запроса:
(21,)

In [ ]:
# использование оконных функций
query_read = """select
                    id,
                    name,
                    age,
                    gender,
                    nationality,
                    row_number() OVER () AS num
             from users """
try:
    query_n_print(conn, query_read)
except Exception as e:
    print("запрос в БД не выполнен:", e)

Выполнен следующий запрос к БД: 'select
                    id,
                    name,
                    age,
                    gender,
                    nationality,
                    row_number() OVER () AS num
             from users '
Результат запроса:
(1, 'James', 25, 'male', 'USA', 1)
(2, 'Leila', 32, 'female', 'France', 2)
(3, 'Brigitte', 35, 'female', 'England', 3)
(4, 'Mike', 40, 'male', 'Denmark', 4)
(5, 'Elizabeth', 21, 'female', 'Canada', 5)
(6, 'James', 25, 'male', 'USA', 6)
(7, 'Leila', 32, 'female', 'France', 7)
(8, 'Brigitte', 35, 'female', 'England', 8)
(9, 'Mike', 40, 'male', 'Denmark', 9)
(10, 'Elizabeth', 21, 'female', 'Canada', 10)
(11, 'James', 25, 'male', 'USA', 11)
(12, 'Leila', 32, 'female', 'France', 12)
(13, 'Brigitte', 35, 'female', 'England', 13)
(14, 'Mike', 40, 'male', 'Denmark', 14)
(15, 'Elizabeth', 21, 'female', 'Canada', 15)
(16, 'James', 25, 'male', 'USA', 16)
(17, 'Leila', 32, 'female', 'France', 17)
(18, 'Brigitte', 35, 'female', 'England', 18)
(19, 'Mike', 40, 'male', 'Denmark', 19)
(20, 'Elizabeth', 21, 'female', 'Canada', 20)
(21, 'James', 25, 'male', 'USA', 21)
(22, 'Leila', 32, 'female', 'France', 22)
(23, 'Brigitte', 35, 'female', 'England', 23)
(24, 'Mike', 40, 'male', 'Denmark', 24)
(25, 'Elizabeth', 21, 'female', 'Canada', 25)
(26, 'James', 25, 'male', 'USA', 26)
(27, 'Leila', 32, 'female', 'France', 27)
(28, 'Brigitte', 35, 'female', 'England', 28)
(29, 'Mike', 40, 'male', 'Denmark', 29)
(30, 'Elizabeth', 21, 'female', 'Canada', 30)
(31, 'James', 25, 'male', 'USA', 31)
(32, 'Leila', 32, 'female', 'France', 32)
(33, 'Brigitte', 35, 'female', 'England', 33)
(34, 'Mike', 40, 'male', 'Denmark', 34)
(35, 'Elizabeth', 21, 'female', 'Canada', 35)
(36, 'James', 25, 'male', 'USA', 36)
(37, 'Leila', 32, 'female', 'France', 37)
(38, 'Brigitte', 35, 'female', 'England', 38)
(39, 'Mike', 40, 'male', 'Denmark', 39)
(40, 'Elizabeth', 21, 'female', 'Canada', 40)
(41, 'James', 25, 'male', 'USA', 41)
(42, 'Leila', 32, 'female', 'France', 42)
(43, 'Brigitte', 35, 'female', 'England', 43)
(44, 'Mike', 40, 'male', 'Denmark', 44)
(45, 'Elizabeth', 21, 'female', 'Canada', 45)
(46, 'James', 25, 'male', 'USA', 46)
(47, 'Leila', 32, 'female', 'France', 47)
(48, 'Brigitte', 35, 'female', 'England', 48)
(49, 'Mike', 40, 'male', 'Denmark', 49)
(50, 'Elizabeth', 21, 'female', 'Canada', 50)
(51, 'James', 25, 'male', 'USA', 51)
(52, 'Leila', 32, 'female', 'France', 52)
(53, 'Brigitte', 35, 'female', 'England', 53)
(54, 'Mike', 40, 'male', 'Denmark', 54)
(55, 'Elizabeth', 21, 'female', 'Canada', 55)
(56, 'James', 25, 'male', 'USA', 56)
(57, 'Leila', 32, 'female', 'France', 57)
(58, 'Brigitte', 35, 'female', 'England', 58)
(59, 'Mike', 40, 'male', 'Denmark', 59)
(60, 'Elizabeth', 21, 'female', 'Canada', 60)
(61, 'James', 25, 'male', 'USA', 61)
(62, 'Leila', 32, 'female', 'France', 62)
(63, 'Brigitte', 35, 'female', 'England', 63)
(64, 'Mike', 40, 'male', 'Denmark', 64)
(65, 'Elizabeth', 21, 'female', 'Canada', 65)

In [ ]:
# использование оконных функций (с сортировкой)
query_read = """select
                    id,
                    name,
                    age,
                    gender,
                    nationality,
                    row_number() OVER () AS num
             from users ORDER BY age"""
try:
    query_n_print(conn, query_read)
except Exception as e:
    print("запрос в БД не выполнен:", e)

Выполнен следующий запрос к БД: 'select
                    id,
                    name,
                    age,
                    gender,
                    nationality,
                    row_number() OVER () AS num
             from users ORDER BY age'
Результат запроса:
(65, 'Elizabeth', 21, 'female', 'Canada', 65)
(40, 'Elizabeth', 21, 'female', 'Canada', 40)
(30, 'Elizabeth', 21, 'female', 'Canada', 30)
(60, 'Elizabeth', 21, 'female', 'Canada', 60)
(35, 'Elizabeth', 21, 'female', 'Canada', 35)
(10, 'Elizabeth', 21, 'female', 'Canada', 10)
(55, 'Elizabeth', 21, 'female', 'Canada', 55)
(15, 'Elizabeth', 21, 'female', 'Canada', 15)
(5, 'Elizabeth', 21, 'female', 'Canada', 5)
(50, 'Elizabeth', 21, 'female', 'Canada', 50)
(20, 'Elizabeth', 21, 'female', 'Canada', 20)
(45, 'Elizabeth', 21, 'female', 'Canada', 45)
(25, 'Elizabeth', 21, 'female', 'Canada', 25)
(26, 'James', 25, 'male', 'USA', 26)
(41, 'James', 25, 'male', 'USA', 41)
(21, 'James', 25, 'male', 'USA', 21)
(16, 'James', 25, 'male', 'USA', 16)
(31, 'James', 25, 'male', 'USA', 31)
(6, 'James', 25, 'male', 'USA', 6)
(36, 'James', 25, 'male', 'USA', 36)
(51, 'James', 25, 'male', 'USA', 51)
(1, 'James', 25, 'male', 'USA', 1)
(46, 'James', 25, 'male', 'USA', 46)
(11, 'James', 25, 'male', 'USA', 11)
(61, 'James', 25, 'male', 'USA', 61)
(56, 'James', 25, 'male', 'USA', 56)
(57, 'Leila', 32, 'female', 'France', 57)
(2, 'Leila', 32, 'female', 'France', 2)
(7, 'Leila', 32, 'female', 'France', 7)
(12, 'Leila', 32, 'female', 'France', 12)
(17, 'Leila', 32, 'female', 'France', 17)
(22, 'Leila', 32, 'female', 'France', 22)
(27, 'Leila', 32, 'female', 'France', 27)
(32, 'Leila', 32, 'female', 'France', 32)
(37, 'Leila', 32, 'female', 'France', 37)
(42, 'Leila', 32, 'female', 'France', 42)
(47, 'Leila', 32, 'female', 'France', 47)
(52, 'Leila', 32, 'female', 'France', 52)
(62, 'Leila', 32, 'female', 'France', 62)
(53, 'Brigitte', 35, 'female', 'England', 53)
(23, 'Brigitte', 35, 'female', 'England', 23)
(63, 'Brigitte', 35, 'female', 'England', 63)
(13, 'Brigitte', 35, 'female', 'England', 13)
(48, 'Brigitte', 35, 'female', 'England', 48)
(58, 'Brigitte', 35, 'female', 'England', 58)
(43, 'Brigitte', 35, 'female', 'England', 43)
(8, 'Brigitte', 35, 'female', 'England', 8)
(28, 'Brigitte', 35, 'female', 'England', 28)
(33, 'Brigitte', 35, 'female', 'England', 33)
(18, 'Brigitte', 35, 'female', 'England', 18)
(38, 'Brigitte', 35, 'female', 'England', 38)
(3, 'Brigitte', 35, 'female', 'England', 3)
(39, 'Mike', 40, 'male', 'Denmark', 39)
(44, 'Mike', 40, 'male', 'Denmark', 44)
(24, 'Mike', 40, 'male', 'Denmark', 24)
(49, 'Mike', 40, 'male', 'Denmark', 49)
(19, 'Mike', 40, 'male', 'Denmark', 19)
(64, 'Mike', 40, 'male', 'Denmark', 64)
(54, 'Mike', 40, 'male', 'Denmark', 54)
(14, 'Mike', 40, 'male', 'Denmark', 14)
(9, 'Mike', 40, 'male', 'Denmark', 9)
(59, 'Mike', 40, 'male', 'Denmark', 59)
(34, 'Mike', 40, 'male', 'Denmark', 34)
(4, 'Mike', 40, 'male', 'Denmark', 4)
(29, 'Mike', 40, 'male', 'Denmark', 29)

In [ ]:
# использование оконных функций (рейтинг и нумерация)
query_read = """select
                    id,
                    name,
                    age,
                    gender,
                    nationality,
                    row_number() OVER (ORDER BY name) AS num,
                    rank() OVER (ORDER BY name) AS rnk
             from users """
try:
    query_n_print(conn, query_read)
except Exception as e:
    print("запрос в БД не выполнен:", e)

Выполнен следующий запрос к БД: 'select
                    id,
                    name,
                    age,
                    gender,
                    nationality,
                    row_number() OVER (ORDER BY name) AS num,
                    rank() OVER (ORDER BY name) AS rnk
             from users '
Результат запроса:
(28, 'Brigitte', 35, 'female', 'England', 1, 1)
(38, 'Brigitte', 35, 'female', 'England', 2, 1)
(3, 'Brigitte', 35, 'female', 'England', 3, 1)
(63, 'Brigitte', 35, 'female', 'England', 4, 1)
(18, 'Brigitte', 35, 'female', 'England', 5, 1)
(33, 'Brigitte', 35, 'female', 'England', 6, 1)
(48, 'Brigitte', 35, 'female', 'England', 7, 1)
(58, 'Brigitte', 35, 'female', 'England', 8, 1)
(23, 'Brigitte', 35, 'female', 'England', 9, 1)
(8, 'Brigitte', 35, 'female', 'England', 10, 1)
(43, 'Brigitte', 35, 'female', 'England', 11, 1)
(53, 'Brigitte', 35, 'female', 'England', 12, 1)
(13, 'Brigitte', 35, 'female', 'England', 13, 1)
(55, 'Elizabeth', 21, 'female', 'Canada', 14, 14)
(10, 'Elizabeth', 21, 'female', 'Canada', 15, 14)
(45, 'Elizabeth', 21, 'female', 'Canada', 16, 14)
(50, 'Elizabeth', 21, 'female', 'Canada', 17, 14)
(65, 'Elizabeth', 21, 'female', 'Canada', 18, 14)
(15, 'Elizabeth', 21, 'female', 'Canada', 19, 14)
(5, 'Elizabeth', 21, 'female', 'Canada', 20, 14)
(60, 'Elizabeth', 21, 'female', 'Canada', 21, 14)
(20, 'Elizabeth', 21, 'female', 'Canada', 22, 14)
(25, 'Elizabeth', 21, 'female', 'Canada', 23, 14)
(30, 'Elizabeth', 21, 'female', 'Canada', 24, 14)
(35, 'Elizabeth', 21, 'female', 'Canada', 25, 14)
(40, 'Elizabeth', 21, 'female', 'Canada', 26, 14)
(16, 'James', 25, 'male', 'USA', 27, 27)
(61, 'James', 25, 'male', 'USA', 28, 27)
(1, 'James', 25, 'male', 'USA', 29, 27)
(46, 'James', 25, 'male', 'USA', 30, 27)
(31, 'James', 25, 'male', 'USA', 31, 27)
(51, 'James', 25, 'male', 'USA', 32, 27)
(11, 'James', 25, 'male', 'USA', 33, 27)
(56, 'James', 25, 'male', 'USA', 34, 27)
(41, 'James', 25, 'male', 'USA', 35, 27)
(6, 'James', 25, 'male', 'USA', 36, 27)
(21, 'James', 25, 'male', 'USA', 37, 27)
(36, 'James', 25, 'male', 'USA', 38, 27)
(26, 'James', 25, 'male', 'USA', 39, 27)
(57, 'Leila', 32, 'female', 'France', 40, 40)
(2, 'Leila', 32, 'female', 'France', 41, 40)
(7, 'Leila', 32, 'female', 'France', 42, 40)
(12, 'Leila', 32, 'female', 'France', 43, 40)
(17, 'Leila', 32, 'female', 'France', 44, 40)
(22, 'Leila', 32, 'female', 'France', 45, 40)
(27, 'Leila', 32, 'female', 'France', 46, 40)
(32, 'Leila', 32, 'female', 'France', 47, 40)
(37, 'Leila', 32, 'female', 'France', 48, 40)
(42, 'Leila', 32, 'female', 'France', 49, 40)
(47, 'Leila', 32, 'female', 'France', 50, 40)
(52, 'Leila', 32, 'female', 'France', 51, 40)
(62, 'Leila', 32, 'female', 'France', 52, 40)
(44, 'Mike', 40, 'male', 'Denmark', 53, 53)
(54, 'Mike', 40, 'male', 'Denmark', 54, 53)
(39, 'Mike', 40, 'male', 'Denmark', 55, 53)
(34, 'Mike', 40, 'male', 'Denmark', 56, 53)
(29, 'Mike', 40, 'male', 'Denmark', 57, 53)
(24, 'Mike', 40, 'male', 'Denmark', 58, 53)
(59, 'Mike', 40, 'male', 'Denmark', 59, 53)
(19, 'Mike', 40, 'male', 'Denmark', 60, 53)
(14, 'Mike', 40, 'male', 'Denmark', 61, 53)
(4, 'Mike', 40, 'male', 'Denmark', 62, 53)
(9, 'Mike', 40, 'male', 'Denmark', 63, 53)
(49, 'Mike', 40, 'male', 'Denmark', 64, 53)
(64, 'Mike', 40, 'male', 'Denmark', 65, 53)

In [ ]:
# использование оконных функций (sum() при заданной сортировке)
query_read = """select
                    name,
                    age,
                    rank() OVER (ORDER BY name) AS rnk,
                    sum(age) OVER (ORDER BY name) as mega_age
             from users ORDER BY name"""
try:
    query_n_print(conn, query_read)
except Exception as e:
    print("запрос в БД не выполнен:", e)

Выполнен следующий запрос к БД: 'select
                    name,
                    age,
                    rank() OVER (ORDER BY name) AS rnk,
                    sum(age) OVER (ORDER BY name) as mega_age
             from users ORDER BY name'
Результат запроса:
('Brigitte', 35, 1, 455)
('Brigitte', 35, 1, 455)
('Brigitte', 35, 1, 455)
('Brigitte', 35, 1, 455)
('Brigitte', 35, 1, 455)
('Brigitte', 35, 1, 455)
('Brigitte', 35, 1, 455)
('Brigitte', 35, 1, 455)
('Brigitte', 35, 1, 455)
('Brigitte', 35, 1, 455)
('Brigitte', 35, 1, 455)
('Brigitte', 35, 1, 455)
('Brigitte', 35, 1, 455)
('Elizabeth', 21, 14, 728)
('Elizabeth', 21, 14, 728)
('Elizabeth', 21, 14, 728)
('Elizabeth', 21, 14, 728)
('Elizabeth', 21, 14, 728)
('Elizabeth', 21, 14, 728)
('Elizabeth', 21, 14, 728)
('Elizabeth', 21, 14, 728)
('Elizabeth', 21, 14, 728)
('Elizabeth', 21, 14, 728)
('Elizabeth', 21, 14, 728)
('Elizabeth', 21, 14, 728)
('Elizabeth', 21, 14, 728)
('James', 25, 27, 1053)
('James', 25, 27, 1053)
('James', 25, 27, 1053)
('James', 25, 27, 1053)
('James', 25, 27, 1053)
('James', 25, 27, 1053)
('James', 25, 27, 1053)
('James', 25, 27, 1053)
('James', 25, 27, 1053)
('James', 25, 27, 1053)
('James', 25, 27, 1053)
('James', 25, 27, 1053)
('James', 25, 27, 1053)
('Leila', 32, 40, 1469)
('Leila', 32, 40, 1469)
('Leila', 32, 40, 1469)
('Leila', 32, 40, 1469)
('Leila', 32, 40, 1469)
('Leila', 32, 40, 1469)
('Leila', 32, 40, 1469)
('Leila', 32, 40, 1469)
('Leila', 32, 40, 1469)
('Leila', 32, 40, 1469)
('Leila', 32, 40, 1469)
('Leila', 32, 40, 1469)
('Leila', 32, 40, 1469)
('Mike', 40, 53, 1989)
('Mike', 40, 53, 1989)
('Mike', 40, 53, 1989)
('Mike', 40, 53, 1989)
('Mike', 40, 53, 1989)
('Mike', 40, 53, 1989)
('Mike', 40, 53, 1989)
('Mike', 40, 53, 1989)
('Mike', 40, 53, 1989)
('Mike', 40, 53, 1989)
('Mike', 40, 53, 1989)
('Mike', 40, 53, 1989)
('Mike', 40, 53, 1989)

In [ ]:
# использование оконных функций (попытка доступа к ранее созданноому оконному полю rnk)
query_read = """select
                    rnk
             from users"""
try:
    query_n_print(conn, query_read)
except Exception as e:
    print("запрос в БД не выполнен:", e)

Выполнен следующий запрос к БД: 'select
                    rnk
             from users'
Результат запроса:
запрос в БД не выполнен: column "rnk" does not exist
LINE 2:                     rnk
                            ^

In [ ]:
# использование оконных функций (еще одна попытка доступа к ранее созданноому оконному полю rnk (в разных запросах))
query_list = [
    """select
            name,
            age,
            rank() OVER (ORDER BY name) AS rnk,
            sum(age) OVER (ORDER BY name) as mega_age
            from users ORDER BY name""",
    """select rnk from users""",
]
try:
    for query in query_list:
        query_n_print(conn, query)
except Exception as e:
    print("запрос в БД не выполнен:", e)

Выполнен следующий запрос к БД: 'select
            name,
            age,
            rank() OVER (ORDER BY name) AS rnk,
            sum(age) OVER (ORDER BY name) as mega_age
            from users ORDER BY name'
Результат запроса:
('Brigitte', 35, 1, 455)
('Brigitte', 35, 1, 455)
('Brigitte', 35, 1, 455)
('Brigitte', 35, 1, 455)
('Brigitte', 35, 1, 455)
('Brigitte', 35, 1, 455)
('Brigitte', 35, 1, 455)
('Brigitte', 35, 1, 455)
('Brigitte', 35, 1, 455)
('Brigitte', 35, 1, 455)
('Brigitte', 35, 1, 455)
('Brigitte', 35, 1, 455)
('Brigitte', 35, 1, 455)
('Elizabeth', 21, 14, 728)
('Elizabeth', 21, 14, 728)
('Elizabeth', 21, 14, 728)
('Elizabeth', 21, 14, 728)
('Elizabeth', 21, 14, 728)
('Elizabeth', 21, 14, 728)
('Elizabeth', 21, 14, 728)
('Elizabeth', 21, 14, 728)
('Elizabeth', 21, 14, 728)
('Elizabeth', 21, 14, 728)
('Elizabeth', 21, 14, 728)
('Elizabeth', 21, 14, 728)
('Elizabeth', 21, 14, 728)
('James', 25, 27, 1053)
('James', 25, 27, 1053)
('James', 25, 27, 1053)
('James', 25, 27, 1053)
('James', 25, 27, 1053)
('James', 25, 27, 1053)
('James', 25, 27, 1053)
('James', 25, 27, 1053)
('James', 25, 27, 1053)
('James', 25, 27, 1053)
('James', 25, 27, 1053)
('James', 25, 27, 1053)
('James', 25, 27, 1053)
('Leila', 32, 40, 1469)
('Leila', 32, 40, 1469)
('Leila', 32, 40, 1469)
('Leila', 32, 40, 1469)
('Leila', 32, 40, 1469)
('Leila', 32, 40, 1469)
('Leila', 32, 40, 1469)
('Leila', 32, 40, 1469)
('Leila', 32, 40, 1469)
('Leila', 32, 40, 1469)
('Leila', 32, 40, 1469)
('Leila', 32, 40, 1469)
('Leila', 32, 40, 1469)
('Mike', 40, 53, 1989)
('Mike', 40, 53, 1989)
('Mike', 40, 53, 1989)
('Mike', 40, 53, 1989)
('Mike', 40, 53, 1989)
('Mike', 40, 53, 1989)
('Mike', 40, 53, 1989)
('Mike', 40, 53, 1989)
('Mike', 40, 53, 1989)
('Mike', 40, 53, 1989)
('Mike', 40, 53, 1989)
('Mike', 40, 53, 1989)
('Mike', 40, 53, 1989)
Выполнен следующий запрос к БД: 'select rnk from users'
Результат запроса:
запрос в БД не выполнен: column "rnk" does not exist
LINE 1: select rnk from users
               ^

In [ ]:
# закрытие подключения к БД
print("-- программа завершена --")
conn.close()

-- программа завершена --

In [ ]:
# попытка доступа к БД при закрытом подключении (получение всех записей из таблицы users) >> Ошибка
query_read = """SELECT * FROM users"""
query_n_print(conn, query_read)

Выполнен следующий запрос к БД: 'SELECT * FROM users'
Результат запроса:

InterfaceError: connection already closed

In [ ]:
from psycopg2 import connect as connect
# функция проверки подключения к БД
def _get_db_session():
    try:
        conn = connect(
            dbname='admin',
            user='admin',
            password='admin',
            host='0.0.0.0',
            port=5432)
        print("\nСоединение с БД установлено", conn, "\n")
        return conn
    except Exception as e:
        print('БД не доступна. Проверьте Docker', e)
        return False
# проверкв подключения к БД
dbconnect = _get_db_session()
if dbconnect is False:
    print("БД не подключена. \nПрограмма завершена")
else:
    conn = dbconnect

Соединение с БД установлено <connection object at 0x109f374c0; dsn: 'user=admin password=xxx dbname=admin host=0.0.0.0 port=5432', closed: 0>